.slider
  width: 100vw
  background-color: color(bg_, blue_)
  // height: 633px
  position: relative
  // z-index: 0
  .slider_head
    margin: 0 31px
    display: table
    margin-bottom: 36px
    padding-top: 70px
    z-index: 1
    .slider_head_image_wrapper
      width: 125px
      height: 125px
      background-color: color(bg_, white_)
      border-radius: 100%
      position: relative
      display: table
      margin-right: 26px
      z-index: 1
      img
        position: absolute
        left: 10px
        top: 10px
    .slider_head_title
      color: color(text_, white_)
      font-family: 'D-Bo'
      font-size: 46px
      font-weight: 700
      line-height: 50px
      text-transform: uppercase
      display: table-cell
      color: color(text_, white_)
      z-index: 1
      position: relative
  .slider_content
    margin: 0 31px
    z-index: 1
    .slider_content_text
    font-family: 'D-R'
    font-size: 38px
    font-weight: 500
    line-height: 38px
    color: color(text_, white_)
    .btn
      margin: 20px auto 0 auto
  .slider_content_image
    position: absolute
    width: 60vw
    right: 10px
    bottom: 10px
    z-index: 1
  .slider_bg_image
    position: absolute
    top: -70px
    height: calc(100% + 71px)
    width: 100vw
    z-index: 0

@media screen and (max-width: 480px)
  .slider
    height: auto
    .slider_head
      margin: 0 15px
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      .slider_head_image_wrapper
        margin-bottom: 26px
      .slider_head_title
        font-size: 32px
        line-height: 36px
    .slider_content
      margin: 0 15px
      padding-bottom: 35px
      .slider_content_text
        font-size: 24px
        font-weight: 500
        line-height: 26px
        margin-top: 20px
    .slider_content_image
      position: relative
      margin: 0 auto
      display: flex
      width: 80vw

@media screen and (min-width: 481px) and (max-width: 640px)
  .slider
    height: auto
    .slider_head
      .slider_head_title
          font-size: 36px
          line-height: 40px
    .slider_content
      padding-bottom: 35px
      .slider_content_text
        font-size: 32px
        font-weight: 500
        line-height: 32px
    .slider_content_image
      position: relative
      margin: 0 auto
      display: flex
      width: 80vw

@media screen and (min-width: 641px)
  .slider
    height: auto
    .slider_head
    .slider_content
      padding-bottom: 35px
      .btn
        padding: 27px 64px
    .slider_content_image
      position: relative
      margin: 0 auto
      display: flex
      width: 80vw

@media screen and (min-width: 980px)
  .slider
    .slider_head
      .slider_head_title
        font-size: 52px
        line-height: 56px
    .slider_content
      display: flex
      flex-direction: column
      width: 319px
      margin-left: 31px
      .slider_content_text
        font-size: 30px
        line-height: 30px
      .btn
        font-size: 17px
        line-height: 17px
        padding: 23px 20px
    .slider_content_image
      width: 65vw

@media screen and (min-width: 1366px)
  .slider
    padding: 0 0 215px 0
    min-height: 633px
    .slider_head
      margin: 0 170px
      .slider_head_title
        font-size: 70px
        line-height: 80px
    .slider_content
      margin: 0 170px
      margin-top: 86px
      width: auto
      height: 276px
      .slider_content_text
        width: 317px
        margin-bottom: 64px
      .btn
        margin-left: 0
        margin-right: 0
    .slider_content_image
      position: absolute
      width: 60vw
      right: 10px
      bottom: 10px
