-
    items=[
      {
        text: 'Проверка баланса на карте',
        img: '../../images/svg/ruble.svg',
      },
      {
        text: 'Информация о лимитах и транзакциях',
        img: '../../images/svg/cash.svg',
      },
      {
        text: 'Поиск ближайших сервисов и АЗС',
        img: '../../images/svg/fuel.svg',
      },
      {
        text: 'Другая полезная информация',
        img: '../../images/svg/info.svg',
      }
    ]

.app
  .left
    .app_title помощь водителю в пути
    .app_items
      each i in items
        +item_(i.text, i.img)
    +btn_('Оформить договор онлайн', '')
  .right
    .download
      .right_phones
        img(class='app_phones' src='../../images/phones.png')
      .right_content
        .right_title Скачайте мобильное приложение
        span
          img(class='app_01' src='../../images/apple.png')
          img(class='app_02' src='../../images/google.png')