-
    items=[
      {
        text: 'Широкая сеть партнерских автомоек',
        img: 'images/svg/car_washing.svg',
      },
      {
        text: 'Расчет по карте',
        img: 'images/svg/cards.svg',
      },
      {
        text: 'Простая схема документооборота',
        img: 'images/svg/doc.svg',
      },
      {
        text: 'Расширенный сервис',
        img: 'images/svg/service.svg',
      }
    ]

.benefits
  .benefits_content
    .benefits_title преимущества услуги автомойки по топливной карте «лукойл»
    .benefits_items
      each i in items
        +item_(i.text, i.img)
  .benefits_video
    .poster
    .benefits_video_title Как работает наша сеть современных автомоек
    //- video(class='none' preload)
    video(class='' preload)
      source(src='video/video.mp4' type='video/mp4')
      source(src='video/video.webm' type='video/webm')
    img(class='benefits_video_play' src='images/svg/play.svg')