.connect
  .left
    .connect_title Как подключить услугу
    .connect_list
      ol
        .ol_title Если у Вас есть топливная карта «Лукойл»
        li.o_item
          .main Откройте личный кабинет на сайте  
            span 
              a(href='lukoil-card.ru') lukoil-card.ru
          .article Подтвердите согласие на оплату сопутствующих услуг топливной картой
        li.o_item
          .main Теперь Вам доступны услуги на любой из автомоек по топливной карте. Пользуйтесь на здоровье!
          .article Список автомоек вы можете посмотреть тут  
            span
              a(href='lukoil-card.ru/news/12345/') lukoil-card.ru/news/12345/
      ol
        .ol_title Если у Вас еще нет топливной карты Лукойл», то вы можете заключить договор онлайн
        li.o_item
          .main Вам необходимо заполнить заявку на сайте и получить топливные карты в одном из офисов продаж «Лукойл»
          .article Список офисов доступен здесь: 
            span
              a(href='lukoil-card.ru/partners/') lukoil-card.ru/partners/
        li.o_item
          .main После этого Вы сможете активировать услугу автомойки в личном кабинете на сайте 
            span 
              a(href='lukoil-card.ru') lukoil-card.ru
    +btn_('заключить договор онлайн', '')
  .right
    +btn_('заключить договор онлайн', '')
