.header
  span.logo
    img(src='images/logo.png', alt='logo')
  span.number 
    .digits 8-000-000-00-00
    .number_text Звонок по России бесплатный
  .links
    +link_('преимущества автомоек','benefits')
    +link_('как подключить','connect')
    +link_('сеть автомоек','map')
    +link_('услуги','services')
    +link_('приложение','app')
    +link_('оформить карту','submit')