-
    items=[
      {
        text: 'Сопутствующие товары',
        img: '../../images/svg/kruassan.svg',
      },
      {
        text: 'Электронный документооборот',
        img: '../../images/svg/coursor.svg',
      },
      {
        text: 'Шиномонтаж',
        img: '../../images/svg/shina.svg',
      },
      {
        text: 'Автомойки',
        img: '../../images/svg/car_washing.svg',
      },
      {
        text: 'Электронная отчетность',
        img: '../../images/svg/otchet.svg',
      }
    ]

.services
  .services_content
    .services_title Все необходимые услуги и сервисы с вами в пути
    .services_article Получите возможность оплачивать услуги по топливной карте «Лукойл». Вся отчетность по расходам будет отображаться в личном кабинете.
    .services_items
      each i in items
        +item_(i.text, i.img)
  .services_images
    img(class='services_bg_01' src='../../images/services_bg_01.jpg')
    img(class='services_bg_02' src='../../images/services_bg_02.jpg')