.slider
  img(class='slider_bg_image' src='images/slide_01_bg.png')
  .slider_head
    .slider_head_image_wrapper
      img(src='images/car_wash.png')
    .slider_head_title получите доступ к сети современных автомоек
  img(class='slider_content_image' src='images/slide_01_image.png')
  .slider_content
    .slider_content_text для транспортных средств до 4 т с онлайн топливной картой «Лукойл»
    +btn_('заключить договор онлайн', '')