.slider
  .slider_head
    .slider_head_image_wrapper
      img(src='../../images/car_wash.png')
    .slider_head_title получите доступ к сети современных автомоек
  .slider_content
    .slider_content_text для транспортных средств до 4 т с онлайн топливной картой «Газпром нефть»
    img(class='slider_content_image' src='../../images/slide_01_image.png')
    +btn_('заключить договор онлайн', '')
  .slider_toggle_btns
    div(class='slider_btn left')
      img(src='../../images/svg/arrow.svg')
    div(class='slider_btn right')
      img(src='../../images/svg/arrow.svg')