.submit
  .left
    .submit_title Оформить топливную карту онлайн — быстро и удобно
    .submit_list
      ol
        li.o_item
          .main Заполните все необходимые поля в онлайн-заявке на заключение типового договора Оферты.
          .article Процедура займет не более 15 минут. Для оформления заявки Вам потребуются электронные копии учредительных документов.
        li.o_item
          .main Мы вышлем Вам письмо-подтверждение на электронную почту.
          .article В течение 3 рабочих дней заявка будет рассмотрена и подтверждена.
        li.o_item
          .main Мы подготовим и направим Вам на электронную почту счет на оплату топлива.
        li.o_item
          .main Внесите средства на счет для активации договора.
          .article Договор вступит в силу с момента зачисления Вами средств на счет.
        li.o_item
          .main Получите доступ к сети моек, пользуйтесь онлайн топливной картой и экономьте
          .article Используйте Вашу карту при оплате топлива и услуг и экономьте на расходах.
  .right
    img(class='services_bg_01' src='images/submit_bg.jpg')