doctype html
html(lang='ru-Ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    block meta
    block styles
      link(href='css/style.css', rel='stylesheet', type='text/css', defer)
    block headerScripts
  body
    block content
    script(src='js/vendor.js', defer)
    script(src='js/main.js', defer)
